[Unit]
Description=The main server for Ninja-Arena.
Documentation=https://github.com/fractalbach/ninjaArena
ConditionPathExists=/home/fractalbach/go/src/github.com/fractalbach/ninjaArena
After=networking.target

[Service]
Type=simple
WorkingDirectory=/home/fractalbach/go/src/github.com/fractalbach/ninjaArena/web
ExecStart=/home/fractalbach/go/bin/ninjaServer -a :80

[Install]
WantedBy=multi-user.target